html, body, #root, .App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

#drum-machine{
  display: flex;
  align-items:  center;
}

#display {
 width:  100px;
 height: 100px;
 text-align: center;
 line-height: 100px;
}


.container-pad {
  height: 300px;
  width: 400px;
  background-color: #59748f; 
  margin: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:  10px;
  border-radius: 20px;
  box-shadow: 6px 6px 8px #111;
}

.drum-pad {
  font-size: 1.5em;
  margin:  5px;
  flex: 0 0 120px;
  background-color: #FFF;
  line-height: 1.5em;
  box-shadow: 2.5px 2.5px 1px #CCC;
  border-radius: 10px;
}

.drum-pad:active{
  box-shadow: inset 3px 3px 2px #C1C1C1;
  background-color: #EEEEEE;
  outline: none;
}
